.login{
    width: 100%;
    height: 100vh;
    display: flex;    
    align-items: center;
    justify-content: center;
    // 登录面板
    .login-content{
        width: 300px;
        padding: 30px;
        border-radius: 10px;
        box-shadow: 0 0 2px #b3b3b3;

        button{
            width: 100%;
        }
        .captcha{
            width: 100%;
            cursor: pointer;
        }
    }
}