.tabel-title{
    margin-bottom: 16px;
    padding-right: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h2{
        font-size: 16px;
        font-weight: 500;
    }
}
.p0{
    padding: 0;
    button{
        padding: 0;
    }
}
.underline{
    text-decoration: underline;
    color: #000;
    &:hover{
        color: #1677ff;
    }
}
.text-w-300{
    max-width: 300px;
    display: inline-block;
    white-space: nowrap; /* 防止文本换行 */
    overflow: hidden; /* 隐藏超出的内容 */
    text-overflow: ellipsis; /* 当文本超出时显示省略号 */
}

// 置顶
.toTop{
    background-color: #FAFAFA;
}