.main{
    // 侧边栏
    .main-sidebar{
        .demo-logo-vertical{
            margin: 15px 0;
            color: #fff;
            font-size: 40px;
            text-align: center;
            img{
                width: 48px;
                height: 48px;
                margin-top: 10px;
            }
        }
    }
    // 正文
    .main-content{
        // 正文导航栏
        .content-navbar{
            display: flex;
            justify-content: space-between;
        }
        // 正文内容
        .content-info{

        }
    }
}