.main{
    // 侧边栏
    .main-sidebar{
        .demo-logo-vertical{
            margin: 15px 0;
            color: #fff;
            font-size: 40px;
            text-align: center;
            img{
                width: 48px;
                height: 48px;
                margin-top: 10px;
            }
        }
    }
    // 正文
    .main-content{
        // 正文导航栏
        .content-navbar{
            padding-right: 50px !important;
            display: flex;
            justify-content: space-between;
            align-items: center;
            // 控制台
            .operate{
                // 用户
                .user{
                    .avatar{
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background-color: #e6e6e6;
                        overflow: hidden;
                        img{
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }
        }
        // 正文内容
        .content-info{

        }
    }
}