
.tutorials{
    .p0{
        padding: 0;
    }
    .underline{
        text-decoration: underline;
        color: #000;
        &:hover{
            color: #1677ff;
        }
    }
    .tabel-title{
        margin-bottom: 16px;
        padding-right: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        h2{
            font-size: 16px;
            font-weight: 500;
        }
    }
    .bte{
        width: 100%;
        margin-bottom: 10px;
        .ant-space-item{
            &:nth-child(1){
                width: 30%;
            }
            &:nth-child(2){
                width: 70%;
            }
        }
    }
    .flex{
        display: flex;
        align-items: center;
    }
    .point{
        width: 6px;
        height: 6px;
        margin-right: 5px;
        border-radius: 50%;
    }
    .point-success{
        background-color: #52C41A;
    }
    .point-error{
        background-color: #FF4D4F;
    }
    .tabel-item-title{
        width: 165px;
        -webkit-line-clamp: 1;
    }
    .video-list{
        margin: 0;
        padding: 0;
        list-style: none;
        li{
            padding: 15px;
            margin-bottom: 10px;
            display: flex;
            align-items: center;
            background-color: rgba(0, 0, 0, 0.02);
            border-radius: 10px;
            position: relative;
            .number{
                width: 35px;
                height: 35px;
                position: absolute;
                left: -50px;
                border-radius: 50%;
                text-align: center;
                line-height: 35px;
            }
        }
        img{
            margin-right: 10px;
            width: 150px;
        }
        p{
            width: 400px;
            margin: 0;
            -webkit-line-clamp: 1;
        }
    }
}

.doctype{
    display: flex;
    gap: 25px;
    .box{
        width: 200px;
        height: 50px;
        font-size: 18x;
        font-weight: 500;
        border-radius: 10px;
        background-color: #fff;
        box-shadow: 0 0 2px 1px rgb(207, 207, 207);
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: background-color 0.2s;
    }
    .box-disabled{
        pointer-events: none;
    }
    .active-box, .box:hover{
        color: #fff;
        background-color: #1374f9;
    }
}